main {
    min-height: calc(100vh - 3.5rem - 8.18rem);
}

.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
    position: fixed;
    margin: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 22px;
    width: 20px
}

.main-header__brand img {
    height: 40px;
    width: 40px;
}

.main-nav {
    display: block;
    margin-top: 1rem;
}

.main-nav__items {
    padding: 10px 0px;
    margin: 0;
    list-style: none;
    text-align: center;
}

.hidden {
    display: none;
}

.main-nav__item {
    display: block;
    margin: 1rem 0rem;
}

.main-nav__item > a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding-bottom: 8px;
}

.main-nav__item > a:hover,
.main-nav__item > a:active  {
    color: white;
    border-bottom: black 5px solid;
}

.main-nav__item--cta > a {
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta > a:hover,
.man-nav__item--cta > a:active {
    color: #ff1b68;
    background-color: white;
}

.main-footer {
    background-color: black;
    padding: 1rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: block;
    margin: 1rem 0rem;
}

.main-footer__link > a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.main-footer__link > a:hover,
.main-footer__link > a:active {
    color: rgb(134, 134, 134);
}

.button {
    padding: 8px;
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 2px solid #0e4f1f;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: white;
    color: #0e4f1f;
}

@media (min-width: 40rem) {
    .main-nav {
        display: inline-block;
        text-align: right;
        width: calc(100% - 115px);
        vertical-align: middle;
    }

    .main-nav__items {
        padding: 10px 0px;
        margin: 0;
        list-style: none;
        text-align: center;
        display: inline-block;
    }

    .main-nav__item {
        display: inline-block;
        margin: 0 16px;
    }

    .dropdown {
        display: none;
    }

    .main-footer {
        margin-top: 1.5rem;
        padding: 2rem 0rem;
    }

    .main-footer__link {
        display: inline-block;
        margin: 0px 16px;
    }
}